{% extends "padre.html" %}

    {%block central %}
    <!-- Contenido principal -->
        <section id="panel">
            <div class="caja"><a href=".\arceus.html"><img class="juego" src=".\status\image\arceus.png">
                    <div class="divnombreproducto">
                        <p class="nombreproducto">Pokemon Leyendas Arceus</p>
                    </div>
                </a></div>
            <div class="caja"><img class="juego" src=".\status\image\diamante.png">
                <div class="divnombreproducto">
                    <p class="nombreproducto">Pokemon Diamante Brillante</p>
                </div>
            </div>
            <div class="caja"><img class="juego" src=".\status\image\odissey.jpg">
                <div class="divnombreproducto">
                    <p class="nombreproducto">Super Mario Oddisey</p>
                </div>
            </div>
            <div class="caja"><img class="juego" src=".\status\image\zelda.jpg">
                <div class="divnombreproducto">
                    <p class="nombreproducto">The Legend Of Zelda: Breath Of The Wild</p>
                </div>
            </div>
            <div class="caja"><img class="juego" src=".\status\image\animal.jpg">
                <div class="divnombreproducto">
                    <p class="nombreproducto">Animal Crossing</p>
                </div>
            </div>
            <div class="caja"><img class="juego" src=".\status\image\party.jpg">
                <div class="divnombreproducto">
                    <p class="nombreproducto">Super Mario Party</p>
                </div>
            </div>
            <div class="caja"><img class="juego" src=".\status\image\misterioso.jpg">
                <div class="divnombreproducto">
                    <p class="nombreproducto">Pokemon Mundo Misterioso E.R. DX</p>
                </div>
            </div>
            <div class="caja"><img class="juego" src=".\status\image\letsgo.jpg">
                <div class="divnombreproducto">
                    <p class="nombreproducto">Pokemon Let's Go Pikachu</p>
                </div>
            </div>
            <div class="caja"><img class="juego" src=".\status\image\just.jpg">
                <div class="divnombreproducto">
                    <p class="nombreproducto">Just Dance 2022</p>
                </div>
            </div>
        </section>
        <div id="paginas">
            <div class="pag"><a class="numpag" href="#">&laquo;</a></div>
            <div class="pag"><a class="numpag" href="#">1</a></div>
            <div class="pag"><a class="numpag" href="#">2</a></div>
            <div class="pag"><a class="numpag" href="#">3</a></div>
            <div class="pag"><a class="numpag" href="#">4</a></div>
            <div class="pag"><a class="numpag" href="#">5</a></div>
            <div class="pag"><a class="numpag" href="#">6</a></div>
            <div class="pag"><a class="numpag" href="#">&raquo;</a></div>
        </div>
 {% endblock %}