{% extends "padre.html" %}
{% block estilos %}
<!--LINKS CSS-->
<link rel="stylesheet" type="text/css" href="status/css/contacto.css">
<link rel="stylesheet" type="text/css" href="status/css/perfil.css">

{% endblock %}
{%block central %}

    <!-- Contenido principal -->
        <section class="principal">
            <h1 class="tituloseccion">Perfil</h1>
            <div id="fondoimagen_perfil"><img id="imagen_perfil" src="./status/image/{{usuario[0]['imagen_perfil']}}"/></div>
            <ul class="descripcion">
                <li>Nombre de usuario: {{usuario[0]['username']}}</li>
                <li>Nombre: {{usuario[0]['nombre']}}</li>
                <li>Apellidos: {{usuario[0]['apellidos']}}</li>
                <li>Correo Electrónico: {{usuario[0]['correo']}}</li>
                <li>Teléfono: {{usuario[0]['telefono']}}</li>
                <li>País: {{pais[0]['name']}}<img id="bandera" src="./status/image/paises/{{pais[0]['alpha_2']}}.png"/></li>
                <!--*permisos*-->
            </ul>
                <div class="redessociales">
                    <div class="redsocial"><a href=https://es-la.facebook.com/{{usuario[0]['facebook']}} target="_blank"><img class="iconored"
                                src=".\status\image\facebook.png"></a></div>
                    <div class="redsocial"><a href=https://twitter.com/{{usuario[0]['twitter']}} target="_blank"><img class="iconored"
                                src=".\status\image\twitter.png"></a></div>
                    <div class="redsocial"><a href=https://www.instagram.com/{{usuario[0]['instagram']}} target="_blank"><img class="iconored"
                                src=".\status\image\instagram.jpg"></a></div>
                </div>
                <div class="botonperfil">Mis compras</div>
                <a href="./modificarperfil.php"><div  class="botonperfil">Editar perfil</div></a>
                <div class="botonperfil">Cerrar sesión</div>
        </section>
                        {% endblock %}

                    {% block script %}
{% endblock %}